.library {
  position: fixed;
  width: 20rem;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 50px #eee;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }

  &-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: background 0.5s ease;

    &:hover {
      background: rgb(222, 222, 255);
    }
    img {
      width: 30%;
    }
  }
}

.song-desc {
  padding-left: 1rem;

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.75rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 30px;
  border: transparent;
}

.selected {
  background: rgb(141, 205, 245);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and(max-width:768px) {
  .library {
    width: 100%;
  }
}
